*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white ;
    display: grid;
    grid-template-columns:  25% 20% 50%;
    grid-template-rows: 30% 55% 15%;
}
#left-top-left{
    background:r;
    padding: 25px;
}
#square{
    height: 30px;
    width: 30px;
    background: black;
    rotate: 45deg;
}
#left-top-right{
    background-color: ble;
    justify-self: right;
    padding: 30px;
    text-align: right ;
}
#left-top-right h4{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 500;

}
#left-top-right h5{
     font-size: 20px;
     font-weight: 500;
}
#left-top-right h6{
    display: none;
}
#left-center{
    background-color:yew;
    grid-column: 1/3;
    padding: 20px;
}
#left-center{
    background-color: aq;
    font-size: 2.5vw;
    line-height: 5vw   ;
    text-transform: uppercase;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color:;
}
#left-center h1:nth-child(2n){
    text-align: center;
}
#left-bottom{
    background-color: gree;
    grid-column: 1/3;
    padding:  0 20px;
    
}
#left-bottom p{
    width:70%;
    color: black;
}
#right{
   background-color:greenyeow;
    grid-column: 3;
    grid-row: 1/4;
    padding:  10px   40px;
    padding-right: 80px;
    
}
#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#arrow{
      position: absolute;
    top: 50%;
    left: 45%;
    padding: 20px;
    background-color: red;
    border-radius: 45px;
    color: #fff;
    align-items: center;
    justify-content: center;
    transform: translate(-50% -50%);
}
#arrow i{
    font-size: 30px;
    font-weight: 500;
}
@media (max-width:600px){
    #main{
     
     grid-template-columns:   50% 50%;
     grid-template-rows: 60px 30% 10%;
    }
    #left-top-left{
     background:d;
     padding: 15px;
    }
    #square{
      height: 20px;
     width: 20px;
     
    }
    #left-top-right{
     padding: 10px;
     text-align: right ;
    }
   #left-top-right h4{
     display:  none;

    }
    #left-top-right h5{
      display: none;
    }
    #left-top-right h6{
    display: initial;
}
    #left-center{
     background-color: white;
     padding: 20px 30px ;
    }
   #left-center{
    font-size: 5vw;
    line-height: 8vw;
   }
    #left-center h1:nth-child(2n){
     text-align: right;
    }
   #left-bottom{
     background-color: w;
     padding:  0 20px;
    }
 #left-bottom p{
    width:70%;
    color: black;
} 
    #right{
     
     grid-column: 1/4;
     grid-row: 4;
     padding:  20px;
     padding-right: 20px;
    
    }
    #right video{
     height: 45vh ;
}
    #arrow{
       position: absolute;
    top: 47%;
    left: 45%;
    padding: 10px;
    background-color: red;
    border-radius: 45px;
    color: #fff;
    align-items: center;
    justify-content: center;
    transform: translate(-50% -50%);
    
    }
    #arrow i{
     font-size: 20px;
     font-weight: 500;
    }
}