*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#nav{
    height:100px;
    width: 100%;
    background-color:ed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 50px;
    gap: 50px;
}
#nav h4{
    font-size: 30px ;
    font-weight: 500;
}
#nav i{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 500;
    border-radius: 50%;
}
#center{
    width: 100%;
    background-color: d;
    padding: 40px 50px;

}
#center h1{
    font-size: 4vw;
    font-weight: 500;
    line-height: 4.5vw;
}
#center-in{
    height: 200px;
    width: 100%;
    background-color:;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 1vw;
    font-weight: 500;
    line-height: 1.2vw;
}
#right{
    width: 20% ;
}
.elem {
    background-color: low;
    margin: 10px;
    padding: 18px 0 ;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.elem i{
    font-size: 1.5vw;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover {
    background-color: rgb(239, 237, 237);
}
#bottom{
    height: 27%;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1556793521-8ee923a8eef4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTAwfHxibGFjayUyMG1vZGVsfGVufDB8fDB8fHww) ;
    background-size: cover;
    background-position: 0 37%;
}
@media (max-width:600px) {
    #nav{
     height:9vw;
     padding: 0px 10px;
     gap: 3.5vw;
    }
    #nav h4{
     font-size: 10px;
     
    }
    #nav i{
     font-size: 7px;
     padding: 5px;
        
    }  
    #center{
    width: 100%;
    background-color: d;
    padding: 15px 15px;

}
#center h1{
    font-size: 9vw;
    font-weight: 500;
    line-height: 10vw;
}
#center-in{
    height: 250px;
    width: 100%;
    background-color:;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#center-in p{
    font-size: 8px;
    font-weight: 500;
    line-height: 9px;
}
#right{
    width: 100% ;
    padding-bottom: 70px;
}
.elem {
    background-color: low;
    margin:1px ;
    padding:10px 0 ;
    border-top: 1.5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.elem i{
    font-size: 10px;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size:15px;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover {
    background-color: rgb(239, 237, 237);
}
#bottom{
    height: 20%;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1556793521-8ee923a8eef4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTAwfHxibGFjayUyMG1vZGVsfGVufDB8fDB8fHww) ;
    background-size: cover;
    background-position: 0 37%;
}
}