*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: flex-end;
    justify-content: s ;
    padding: 0px 40px;
    padding-top: 60px;
    gap: 60px;
}
#left{
    height: 100%;
    width: 45%;
    background-color: ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px ;
}

#left h1{
    font-size: 9vw;
    font-weight: 500;
    line-height: 8vw;
}
#bottom-left{
    height: 40%;
    width: 100%;
    background-color: yel;
}
#color{
    background-color: b;
    width: fit-content;
    padding: 0.6vw 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
}
#color h5{
    font-size: 1.5vw;
    margin-right: 0.5vw;
    font-weight: 500;
}
#color1{
    width: 1.6vw;
    height: 1.6vw;
    background-color: burlywood;
    border-radius: 50%;
    margin: 2px;
}
#color2{
    width: 1.6vw;
    height: 1.6vw;
    background-color: brown;
    border-radius: 50%;
}
#left h2{
    margin-top: 2vw;
    font-size: 2.5vw;
    margin-bottom: 1.6vw;
}
#left p{
    width: 60%;
    font-size: 1.2vw;
    font-weight: 500;
}
#right{
    height: 90%;
    width: 33%;
    position: relative;
    background-color: aquamarine;
}
#right-top{
    height: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:1.5vw;
}
#right-top h4{
    font-size: 1.5vw;
    font-weight: 600;
    font-family: work sans;
}
#right-top h5{
    font-size: 1.5vw;
}
#right-top h5 i{
    color: gold;
}
#right img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
#black-gola{
    position: absolute;
    width: 12vw;
    height: 12vw;
    background-color: black ;
    border-radius: 50%;
    top: 25%;
    right: -18%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#black-gola h5{
    font-size: 1.5vw;
    font-weight: 400;
}
#rotated{
    position: absolute;
    transform-origin: 0 0;
    rotate: -90deg;
    bottom: 2%;
    left: -13%;
    font-size: 3vw;
    font-weight: 500;
}


@media (max-width:600px) {
    #main{
      height: 100%;
      width: 100%;
      background-color:white;
      display:flex ;
      flex-direction: column;
      align-items: flex-start;
      justify-content:flex-start ;
      padding:30px;
      padding-top: 10px;
      gap: 18px;
    }
    #left{
    height: 100%;
    width: 100%;
    background-color:r ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px ;
}
    #left h1{
    font-size: 90px;
    font-weight: 500;
    line-height: 70px;
}
#bottom-left{
    height: 50%;
    width: 100%;
}
#color{
    background-color: b;
    width: fit-content;
    padding:5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
}  

#color h5{
    font-size: 20px;
    margin-right: 5px;
    font-weight: 500;
}
#color1{
    width: 20px;
    height: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 5px;
}
#color2{
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50%;
}
#left h2{
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}
#left p{
    width: 80%;
    font-size: 15px;
    font-weight: 500;
}
#right{

    height:55%;
    width: 90%;
    position: relative;
    background-color: aquamarine;
    display: flex;
    flex-direction: column-reverse ;
}
#right-top{
    height: 5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:1.5vw;
}
#right-top h4{
    font-size: 3.5vw;
    font-weight: 600;
    font-family: work sans;
}
#right-top h5{
    font-size: 3vw;
}
#right-top h5 i{
    color: gold;
}
#right img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
#black-gola{
    position: absolute;
    width: 12vw;
    height: 12vw;
    background-color: black ;
    border-radius: 50%;
    top: 16%;
    right: -6%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#black-gola h5{
    font-size: 1.5vw;
    font-weight: 400;
}
#rotated{
    position: absolute;
    transform-origin: 0 0;
    rotate: -90deg;
    bottom: 4%;
    left: -7%;
    font-size: 5vw;
    font-weight: 500;
}
}